<nb-card>
  <nb-card-header>
    <h3>{{ modalTitle }}</h3>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="typeForm">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input
          nbInput
          fullWidth
          id="name"
          formControlName="name"
          placeholder="Ej. Certificado de Ingreso"
        />
      </div>

      <div class="form-group" style="margin-top: 10px; margin-bottom: 10px; display: flex; align-items: center; gap: 10px;">
        <label for="paid">¿Es de Pago?</label>
        <nb-toggle formControlName="paid" class="small-toggle"></nb-toggle>
      </div>
      
      <div *ngIf="typeForm.get('paid')?.value" class="form-group">
        <label for="price">Precio</label>
        <input
          type="number"
          nbInput
          fullWidth
          id="price"
          formControlName="price"
          placeholder="Ej. 5000"
        />
        <p *ngIf="typeForm.get('price')?.invalid && typeForm.get('price')?.touched" class="error-text">
          El precio debe ser mayor a 0.
        </p>
      </div>     
    </form>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="basic" (click)="cancel()">Cancelar</button>
    <button
      nbButton
      status="primary"
      (click)="saveType()"
      [disabled]="!typeForm.valid"
    >
      {{ isEditMode ? "Actualizar" : "Crear" }}
    </button>
  </nb-card-footer>
</nb-card>
