:host {
  .editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    border-radius: 4px;


    .editor-header {
      padding: 1rem;
      background-color: #252526;
      border-bottom: 1px solid #333;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-right {
        background-color: #2d2d2d;

        button {
          display: flex;
          align-items: center;
        }
      }
    }


    .editor-content {
      display: flex;
      flex: 1;


      .parameters-pane {
        width: 300px;
        background-color: #252526;
        border-right: 1px solid #333;

        .parameters-header {
          color: white;
        }

        nb-accordion {
          nb-accordion-item {
            border: none;
            margin-bottom: 0;

            nb-accordion-item-header {
              padding: 1rem;
              font-weight: bold;
              color: #fff;
              background-color: #2d2d2d;
            }

            nb-accordion-item-body {
              padding: 0;
              background-color: #252526;
            }
          }
        }

        .parameter-list {
          padding: 1rem;
        }

        .parameter-card {
          margin-bottom: 1rem;
          cursor: pointer;
          transition: transform 0.2s ease;
          background-color: #2d2d2d;

          &:hover {
            transform: translateY(-2px);
          }

          nb-card-header {
            padding: 0.75rem;
            background-color: #333;

            code {
              color: #fff;
              font-size: 0.9rem;
            }
          }

          nb-card-body {
            padding: 0.75rem;

            p {
              margin: 0 0 0.5rem;
              color: #ccc;
            }

            small {
              color: #888;
              font-style: italic;
            }
          }
        }
      }

      .editor-pane {
        flex: 1;
        border-right: 1px solid #333;
        transition: width 0.3s ease;

        &.with-parameters {
          flex: 2;
        }

        ::ng-deep {
          .monaco-editor {
            height: 100% !important;
          }
        }
      }

    }
  }







  .preview-pane {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #e0e0e0;

    .preview-header {
      padding-inline: 1rem;
      border-bottom: 1px solid #e0e0e0;
    }

    .preview-content {
      flex: 1;
      //overflow: auto;
      padding: 1rem;
      height: 100%;
    }
  }

  .variable-properties {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .property-item {
      display: flex;
      flex-direction: column;
      gap: 4px;

      button {
        text-align: left;
        padding: 4px 8px;
        font-family: monospace;
        font-size: 14px;
        color: #8f9bb3;
        transition: all 0.2s ease;

        &:hover {
          color: #36f;
          background-color: rgba(54, 102, 255, 0.1);
        }
      }
    }
  }
}
